.Accordian {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Accordian__item {
  margin-bottom: 2px;
}

.Accordian__item button {
  background: lightgrey;
  border: 1px solid #222;
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.Accordian__item p {
  background: whitesmoke;
  border: 1px solid rgb(34, 32, 32);
  border-top: none;
  margin: 0;
  padding: 20px 10px;
}
